// Images - Preload images
$pre-img-bg: rgba(#FFF, .3);

// Images - Preload images - Spinner on load
$spinner-size: 50px;
$spinner-svg-size: 28px;
$spinner-color: #CCC;

$pre-img-ratios: ();

// Common variables go here
