/* Coolors Exported Palette - coolors.co/1e90ff-20bf55-0b4f6c-fbfbff-757575 */

/* HSL */
$color1: hsla(210%, 100%, 56%, 1);
$color2: hsla(140%, 71%, 44%, 1);
$color3: hsla(198%, 82%, 23%, 1);
$color4: hsla(240%, 100%, 99%, 1);
$color5: hsla(0%, 0%, 46%, 1);

/* RGB */
$color1: rgba(30, 144, 255, 1);   // light blue
$color2: rgba(32, 191, 85, 1);    // green
$color3: rgba(11, 79, 108, 1);    // dark blue
$color4: rgba(251, 251, 255, 1);  // off white
$color5: rgba(117, 117, 117, 1);  // Dark grey
$color6: rgba(57, 106, 183,1);    // blue